@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/always-grey.png");
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 16px;
}
